@import "compass/css3";

html, body{
  margin:0px; padding:0px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header{
  z-index: 1;
  position:fixed; 
  width:100%; 
  height:60px; 
  background:rgba(0,0,0,0.1);
}

header a{
  color:white;
  background:rgba(0,0,0,0.1); 
  display:inline-block; 
  padding:0px 30px; 
  height:60px;
  line-height:60px; 
  text-align:center;
  font-family: 'lato', serif; 
  text-decoration:none;
  text-transform:uppercase; 
  letter-spacing:2px; 
  font-weight:700;
}



#hero1{background: url(http://www.travelerscode.net/images/road-trip-dpc.jpg);
  background-size: cover;
  background-position:center center;
  background-attachment:fixed;
}
#hero2{background: url(http://www.travelerscode.net/images/bridge.jpg);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}

#hero3{background: url(http://www.travelerscode.net/images/header3.jpg);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
  }

#hero4{background: url(http://www.travelerscode.net/images/social_media.png);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
  }
  
#hero5{background: url(http://www.travelerscode.net/images/bridge.jpg);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}  

.hero, .content{
  
  position:relative;
  width: 100%;
}

.inner{
  min-height:800px;
  position: relative;
}

.copy{
  position:absolute; 
  top:50%; 
  height:10em; 
  margin-top:-5em; 
  width:100%;
}

* {
  box-sizing: border-box;
}





h3 {
  font-family: 'lato', sans-serif;
  font-weight: 800;
}

.container {
  width: 90%;
  margin: 0 auto;
}

ul .symbols {
  padding: 0;
  margin: 0 0 50px;
}
ul:after .symbols {
  content: ".";
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.symbols li {
  position: relative;
  overflow: hidden;
  border-radius: 0px;
  list-style: none;
  float: left;
  width: 200px;
  height: 180px;
  margin: 50px;
  padding: 0;
  perspective: 500px;
}


li h3 {
  margin: 0;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  background-color: deepskyblue;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

}
li .normal {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: rgba(52, 73, 94, 0.6);
  text-align: center;
  font-size: 50px;
  line-height: 180px;
}

li .info {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 4px;
  pointer-events: none;
  transform: rotate3d(1, 0, 0, 90deg);
}

.in-top .info {
  transform-origin: 50% 0%;
  animation: in-top 300ms ease 0ms 1 forwards;
}

.in-right .info {
  transform-origin: 100% 0%;
  animation: in-right 300ms ease 0ms 1 forwards;
}

.in-bottom .info {
  transform-origin: 50% 100%;
  animation: in-bottom 300ms ease 0ms 1 forwards;
}

.in-left .info {
  transform-origin: 0% 0%;
  animation: in-left 300ms ease 0ms 1 forwards;
}

.out-top .info {
  transform-origin: 50% 0%;
  animation: out-top 300ms ease 0ms 1 forwards;
}

.out-right .info {
  transform-origin: 100% 50%;
  animation: out-right 300ms ease 0ms 1 forwards;
}

.out-bottom .info {
  transform-origin: 50% 100%;
  animation: out-bottom 300ms ease 0ms 1 forwards;
}

.out-left .info {
  transform-origin: 0% 0%;
  animation: out-left 300ms ease 0ms 1 forwards;
}

@keyframes in-top {
  from {
    transform: rotate3d(-1, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes in-right {
  from {
    transform: rotate3d(0, -1, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes in-bottom {
  from {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes in-left {
  from {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes out-top {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(-1, 0, 0, 102deg);
  }
}
@keyframes out-right {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(0, -1, 0, 102deg);
  }
}
@keyframes out-bottom {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(1, 0, 0, 101deg);
  }
}
@keyframes out-left {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(0, 1, 0, 102deg);
  }
}
